<h2>Probador autocompletado de combos (consulta de Clientes y titulos)</h2>

<!-- nueva estructura de autocompletado -->
<hr>
<input list="cliente"  (focus)="subscribeCli()" (keyup)='onChangeConsultaCliente($event)'
  [(ngModel)]="txtConsulta" placeholder="Cliente" type="text">
<datalist id="cliente">
  <option *ngFor="let cliente of clientes" [value]="cliente">  </option>
</datalist>

<div>
  <input type="radio" id="male" name="tpCliente" value="X" (change)="onRbChange($event)">
  <label>Codigo</label><br>
  <input type="radio" id="female" name="tpCliente" value="N" (change)="onRbChange($event)" checked>
  <label>Nombre</label><br>
</div>


<hr>
<input list="titulos"  [(ngModel)]="txtTitulo" (keyup)='onChangeConsultaTitulo($event)'
  (focus)="subscribeTit()" placeholder="Titulo" type="text">
<datalist id="titulos">
  <option *ngFor="let titulo of titulos" [value]="titulo" ></option>
</datalist>
<div></div>

