<h2>Autocomplete</h2>

<!-- nueva estructura de autocompletado -->
<hr>
<input list="cliente"  (focus)="subscribeCli()" (keyup)='onChangeConsultaCliente($event)'
  [(ngModel)]="txtConsulta" placeholder="Cliente" type="text">
<datalist id="cliente">
  <!-- <option *ngFor="let arr of arreglo" [value]="arr['Id']">{{arr['Nombreficha']}}</option> -->
  <option *ngFor="let cliente of clientes" [value]="cliente"></option>
</datalist>

<div>
  <input type="radio" id="male" name="tpCliente" value="X" (change)="onRbChange($event)">
  <label>Codigo</label><br>
  <input type="radio" id="female" name="tpCliente" value="N" (change)="onRbChange($event)" checked>
  <label>Nombre</label><br>
</div>
<button type="submit" (click)="onClickButton()">verfica clientes</button>

<hr>
<input list="titulos"  [(ngModel)]="txtTitulo" (keyup)='onChangeConsultaTitulo($event)'
  (focus)="subscribeTit()" placeholder="Titulo" type="text">
<datalist id="titulos">
  <option *ngFor="let titulo of titulos" [value]="titulo" ></option>
</datalist>
<div></div>

